body {
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    overflow-x: hidden; /* Hide horizontal overflow */
  }


  body {
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }
  
  html, body {
    height: 100%; /* Ensure body takes up full height */
  }
  
  /* Additional adjustments based on inspection */
  /* For example, adjust specific elements causing issues */
  .some-element {
    margin-bottom: 0; /* Adjust margin if necessary */
    padding-bottom: 0; /* Adjust padding if necessary */
    /* Add other adjustments as needed */
  }   


/* Common styles for all devices */

/* Mobile styles */
@media (max-width: 767px) {
    /* Your styles for mobile devices go here */
    /* For example: */
    body {
        font-size: 14px;
    }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Your styles for tablets go here */
    /* For example: */
    body {
        font-size: 16px;
    }
}


* {
    margin: 0;
    padding: 0;
}



.container{
width: 432px;
height: 231px;
flex-shrink: 0;
opacity: 0.15;
background: url(<bgck.jpg>), lightgray 50% / cover no-repeat;
}

.navbar{
width: 432px;
height: 46px;
flex-shrink: 0;
background: #D9D9D9;
}

.logo{
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    background: url(<logo.png>), lightgray 50% / cover no-repeat;
}